/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 800;
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("../fonts/Caveat-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("../fonts/Caveat-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
  color: #424854;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  max-width: 67rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px 1fr 0px auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  color: #424854;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background: #ff6667;
  border-radius: 56px;
  box-shadow: -6px 6px 14px 0px rgba(0, 0, 0, 0.07) inset;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.71;
  color: #fff;
  transition: all 0.3s ease;
}
.btn span {
  height: 1.375rem;
}
.btn:hover {
  opacity: 0.8;
}

sup {
  font-size: 0.625rem;
}

.header {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
.header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem 1.5rem;
  padding: 0.6875rem 1.875rem;
  border-radius: 32px;
  background: linear-gradient(272deg, #ffe1da 0.97%, #ffd3e8 43.25%, #f5ddff 86.42%);
}
.header nav ul li {
  font-size: 0.875rem;
  letter-spacing: 0.28px;
}
.header nav ul li a {
  font-size: inherit;
  color: inherit;
}
.header nav ul li.active {
  font-weight: 700;
}
.header nav ul li:last-child {
  display: none;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.75rem;
  height: 1.375rem;
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #424854;
  border-radius: 10px;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: all 0.3s ease;
}
.header__btn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background: linear-gradient(272deg, #ffe1da 0.97%, #ffd3e8 43.25%, #f5ddff 86.42%);
  }
  .header nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header nav ul {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    padding: 1rem;
    border-radius: 0;
    background: #fff;
  }
  .header nav ul li {
    padding: 1rem 0;
    border-bottom: 1px solid #ffa319;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
  }
  .header nav ul li.active {
    font-weight: 500;
  }
  .header nav ul li:last-child {
    display: block;
    border-bottom: none;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .header.active .header__burger span:first-child {
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    transform: rotate(45deg) translate(10px, 10px);
  }
  .header.active .header__burger span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .header.active .header__burger span:last-child {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
  }
  .header.active nav {
    display: block;
  }
}

.hero {
  position: relative;
  padding: 8.625rem 0 2.375rem;
  border-radius: 0px 0px 60px 60px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
.hero h1 {
  display: flex;
  flex-direction: column;
  font-family: "Caveat-Bold", cursive;
  font-size: 5.625rem;
  line-height: 0.9;
}
.hero h1 span {
  font-family: "Caveat-Regular", cursive;
  font-size: 4rem;
  line-height: 1;
}
.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.hero__posttitle {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767.98px) {
  .hero {
    padding: 2rem 0;
    border-radius: 0px 0px 32px 32px;
    background: linear-gradient(0deg, #ffb3a0 9.23%, #ffa79e 26.34%, #ff9cb3 41.61%, #ffa0cd 50.85%, #fd9ed9 60.95%, #d099e6 78.33%, #909dff 100.75%, #8799ff 102.78%);
  }
  .hero__wrapper {
    gap: 2rem;
    width: 100%;
  }
  .hero h1 {
    font-size: 4.6875rem;
  }
  .hero h1 span {
    font-size: 3.375rem;
  }
  .hero:after {
    display: none;
  }
}

.section {
  padding: 2rem 0 1rem;
}
.section > .container > h2 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.3;
}
.section.first {
  background-image: url("../img/bg_first.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.section.first .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section.first .container > p {
  font-weight: 500;
}
@media screen and (max-width: 767.98px) {
  .section.first {
    background: none;
  }
}
.section.second {
  background-image: url("../img/bg_second.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.section.second .second__wrapper {
  display: flex;
  gap: 3rem;
}
.section.second .second__wrapper > div {
  flex: 1;
}
.section.second .second__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 20px 30px 0px rgba(66, 72, 84, 0.2);
}
.section.second .second__left__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section.second .second__left__item__icon img {
  width: 3.25rem;
  height: 3.25rem;
}
.section.second .second__left__item__content {
  flex: 1;
  font-size: 0.875rem;
  font-weight: 500;
}
.section.second .second__left__item__content h3 {
  font-size: 1.875rem;
  font-weight: 500;
}
.section.second .second__left__item__content strong {
  font-weight: 800;
}
.section.second .second__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.section.second .second__right strong {
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  .section.second {
    background: none;
  }
  .section.second .second__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .section.second .second__left {
    padding: 1.5rem 1rem;
  }
  .section.second .second__left__item__icon img {
    width: 2.625rem;
    height: 2.625rem;
  }
  .section.second .second__left__item__content {
    font-size: 1rem;
  }
  .section.second .second__left__item__content h3 {
    font-size: 1.5rem;
  }
  .section.second .second__right {
    gap: 1rem;
    font-size: 1rem;
  }
}
.section.third {
  padding: 3rem 0;
  background-image: url("../img/bg_3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .section.third {
    padding: 2rem 0 1rem;
    background: none;
  }
}
.section.fifth {
  background-image: url("../img/bg_second.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.section.fifth > .container > img {
  margin: 0 auto 1rem;
}
@media screen and (max-width: 767.98px) {
  .section.fifth {
    background: none;
  }
}
.section.list h5 {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.section.list ol,
.section.list li {
  list-style-type: decimal;
}
.section.list ol {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 1.25rem;
}
.section.list li {
  font-size: 0.75rem;
  line-height: 1.4;
}
.section.list li a {
  text-decoration: underline;
  font-size: 0.75rem;
}

.schema__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3.4375rem 0;
}
.schema__wrapper > p {
  color: #000;
}
.schema__wrapper > * {
  position: relative;
  z-index: 1;
}
.schema__wrapper > .btn {
  display: none;
}
.schema__wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 140px);
  height: calc(100% + 180px);
  background-image: url("../img/cards.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.schema__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.schema__title h2 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.3;
  color: #ff6667;
}
.schema__image img {
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .schema__wrapper {
    padding: 0;
  }
  .schema__wrapper:after {
    display: none;
  }
  .schema__wrapper > .btn {
    display: flex;
  }
  .schema__wrapper > .btn div {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
  }
  .schema__wrapper > .btn img {
    flex: 1;
  }
  .schema__title {
    gap: 1.5rem;
  }
  .schema__title h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 520px) {
  .schema__title {
    position: relative;
    padding: 1.5rem;
  }
  .schema__title > * {
    position: relative;
    z-index: 1;
  }
  .schema__title:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    background-image: url("../img/cards_mobile.png");
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.fourth__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.fourth__wrapper > div {
  flex: 1;
}
@media screen and (max-width: 767.98px) {
  .fourth__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}
.fourth__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sixth h2 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.3;
  color: #ff6667;
}
.sixth .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sixth .container > p {
  font-weight: 500;
}
.sixth__items {
  display: flex;
  justify-content: space-between;
  gap: 1.5625rem;
}
.sixth__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
}
.sixth__item h4 {
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  .sixth h2 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .sixth__items {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .sixth__item {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    text-align: left;
  }
}

.card__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.card__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 56px;
  background: linear-gradient(0deg, #ffccbf 13.74%, #ffbbb4 44.68%, #feb2c4 64.86%, #ffb3d7 85.48%, #f5b3dc 97.95%);
  box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.06);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
}
.card__item__head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.card__item > p {
  margin-bottom: 1rem;
}
.card__item .btn {
  align-self: flex-start;
  margin-top: auto;
}
@media screen and (max-width: 767.98px) {
  .card__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card__item {
    padding: 1rem;
    border-radius: 32px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .card__item__head {
    flex-direction: row;
    align-items: center;
  }
  .card__item .btn {
    width: 100%;
  }
}