html {
  font-size: 16px;
}

body {
  background: #f7f7f7;
  font-family: "Open-sans medium";
  color: $black;
  font-size: $md;
}

.container {
  max-width: torem(1200);
  width: 100%;
  margin: 0 auto;
  padding: 0 torem(50);

  @include sm-breakpoint {
    padding: 0 torem(20);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-family: "Finlandica BOLD";
  letter-spacing: 0.5px;
}

.main {
  overflow-x: hidden;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: torem(10) !important;
}

.mt-20 {
  margin-top: torem(20) !important;
}

.mt-30 {
  margin-top: torem(30) !important;
}

.mt-47 {
  margin-top: torem(47) !important;
}

.mt-50 {
  margin-top: torem(50) !important;
}

.mt-120 {
  margin-top: torem(120) !important;

  @include sm-breakpoint {
    margin-top: torem(50) !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-50 {
  padding-bottom: torem(50) !important;
}

.parent {
  position: relative;
  display: inline-block;
  margin: 0 !important;

  .popup {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    width: max-content;
    max-width: torem(500);
    padding: torem(4) torem(8);
    background: $white;
    border-radius: 20px;
    box-shadow: 0px 0px 17.455px 0px rgba(0, 0, 0, 0.25);
    color: $mainColor;
    font-family: "Open-sans regular";
    font-size: $sm;
    font-style: italic;
    transform: translate(70%, -100%);

    @include sm-breakpoint {
      max-width: torem(200);
      transform: translate(35%, -100%);
      font-size: $xs;
    }
  }

  &:hover .popup {
    display: block;
  }
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.fw-bold {
  font-family: "Finlandica BOLD", sans-serif !important;
}

.fw-regular {
  font-family: "Open-sans regular", sans-serif !important;
}

.fw-bold-opensans {
  font-family: "OpenSans-CondensedBold", sans-serif !important;
}

.fw-light-opensans {
  font-family: "OpenSans-CondensedLight", sans-serif !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.border-none {
  border: none !important;
}

.fz-14 {
  font-size: $sm !important;
}

.fz-16 {
  font-size: $md !important;
}

.fz-20 {
  font-size: torem(20) !important;
}

.fz-22 {
  font-size: torem(22) !important;
}

.align-start {
  align-self: flex-start !important;
}
