@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik.woff2") format("woff2");
  font-display: swap;
  font-weight: 400 800;
}

@font-face {
  font-family: "Caveat-Regular";
  src: url("../fonts/Caveat-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("../fonts/Caveat-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}