// Colors
$mainColor: #4358c1;
$secondaryColor: #db790f;
$black: #3d3d40;
$grey: #e1e5e4;
$white: #fff;
$red: #e3483a;
$green: #009a35;

// Font sizes
$xs: 0.75rem;
$sm: 0.875rem;
$md: 1rem;
$lg: 1.125rem;
$xl: 2rem;

// Breakpoints
$smBreakpoint: 767.98px;
$mdBreakpoint: 991.98px;
