// Colors
$mainColor: #424854;
$secondaryColor: #db790f;
$black: #000;
$grey: #e1e5e4;
$white: #fff;
$red: #ff6667;
$yellow: #ffa319;
$gradient: linear-gradient(
  0deg,
  #ffccbf 13.74%,
  #ffbbb4 44.68%,
  #feb2c4 64.86%,
  #ffb3d7 85.48%,
  #f5b3dc 97.95%
);
$gradient_2: linear-gradient(
  272deg,
  #ffe1da 0.97%,
  #ffd3e8 43.25%,
  #f5ddff 86.42%
);

// Font sizes
$xs: 0.75rem; // 12
$sm: 0.875rem; // 14
$md: 1rem; // 16
$lg: 1.125rem; // 18
$xl: 1.5rem; // 24
$xl2: 1.875rem; // 30
$xl3: 2rem; // 32

// Breakpoints
$smBreakpoint: 767.98px;
$mdBreakpoint: 991.98px;

// Font weights
$regular: 400;
$medium: 500;
$bold: 700;
$extraBold: 800;
