.breadcrumbs {
  ol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: torem(5);
    margin: 0;
    padding: torem(15) 0 torem(60);
    list-style-type: none;
    font-size: $sm;

    li {
      &:not(:last-child) {
        &::after {
          content: ">";
          margin-left: torem(5);
        }
      }

      &:last-child {
        color: $mainColor;
      }
    }

    @include sm-breakpoint {
      padding: torem(16) 0 torem(7);
    }
  }
}
