@use "settings/_variables" as variables;
@use "settings/_mixins" as mixins;

.section {
  padding: variables.$xl3 0 variables.$md;

  > .container {
    > h2 {
      font-size: variables.$xl2;
      font-weight: variables.$extraBold;
      line-height: 1.3;
    }
  }

  &.first {
    background-image: url("../img/bg_first.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .container {
      display: flex;
      flex-direction: column;
      gap: variables.$xl3;

      > p {
        font-weight: variables.$medium;
      }
    }

    @include mixins.sm-breakpoint {
      background: none;
    }
  }

  &.second {
    background-image: url("../img/bg_second.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .second {
      &__wrapper {
        display: flex;
        gap: mixins.torem(48);

        > div {
          flex: 1;
        }
      }

      &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: mixins.torem(24);
        padding: variables.$xl3;
        border-radius: 30px;
        background: variables.$white;
        box-shadow: 0px 20px 30px 0px rgba(66, 72, 84, 0.2);

        &__item {
          display: flex;
          align-items: center;
          gap: variables.$md;

          &__icon {
            img {
              width: mixins.torem(52);
              height: mixins.torem(52);
            }
          }

          &__content {
            flex: 1;
            font-size: variables.$sm;
            font-weight: variables.$medium;

            h3 {
              font-size: variables.$xl2;
              font-weight: variables.$medium;
            }

            strong {
              font-weight: variables.$extraBold;
            }
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: variables.$xl3;
        font-size: variables.$sm;
        line-height: 1.5;

        strong {
          font-weight: variables.$bold;
        }
      }
    }

    @include mixins.sm-breakpoint {
      background: none;

      .second {
        &__wrapper {
          flex-direction: column;
          gap: variables.$xl3;
        }

        &__left {
          padding: variables.$xl variables.$md;

          &__item {
            &__icon {
              img {
                width: mixins.torem(42);
                height: mixins.torem(42);
              }
            }

            &__content {
              font-size: variables.$md;

              h3 {
                font-size: variables.$xl;
              }
            }
          }
        }

        &__right {
          gap: variables.$md;
          font-size: variables.$md;
        }
      }
    }
  }

  &.third {
    padding: mixins.torem(48) 0;
    background-image: url("../img/bg_3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0 variables.$md;
      background: none;
    }
  }

  &.fifth {
    background-image: url("../img/bg_second.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    > .container {
      > img {
        margin: 0 auto variables.$md;
      }
    }

    @include mixins.sm-breakpoint {
      background: none;
    }
  }
}

.schema {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: variables.$md;
    padding: mixins.torem(55) 0;

    > p {
      color: variables.$black;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    > .btn {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 140px);
      height: calc(100% + 180px);
      background-image: url("../img/cards.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: variables.$md;
    margin-bottom: variables.$md;
    font-weight: variables.$medium;

    h2 {
      font-size: variables.$xl2;
      font-weight: variables.$extraBold;
      line-height: 1.3;
      color: variables.$red;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  @include mixins.sm-breakpoint {
    &__wrapper {
      padding: 0;

      &:after {
        display: none;
      }

      > .btn {
        display: flex;

        div {
          height: variables.$xl3;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: variables.$white;
        }

        img {
          flex: 1;
        }
      }
    }

    &__title {
      gap: variables.$xl;

      h2 {
        font-size: variables.$xl;
      }
    }
  }

  @media screen and (max-width: 520px) {
    &__title {
      position: relative;
      padding: variables.$xl;

      > * {
        position: relative;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
        background-image: url("../img/cards_mobile.png");
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.fourth {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: variables.$xl3;

    > div {
      flex: 1;
    }

    @include mixins.sm-breakpoint {
      flex-direction: column;
      gap: variables.$md;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: variables.$md;
  }
}
