@use "settings/_variables" as variables;
@use "settings/_mixins" as mixins;

.section {
  padding: variables.$xl3 0 variables.$md;

  > .container {
    > h2 {
      font-size: variables.$xl2;
      font-weight: variables.$extraBold;
      line-height: 1.3;
    }
  }

  &.first {
    background-image: url("../img/bg_first.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .container {
      display: flex;
      flex-direction: column;
      gap: variables.$xl3;

      > p {
        font-weight: variables.$medium;
      }
    }

    @include mixins.sm-breakpoint {
      background: none;
    }
  }

  &.second {
    background-image: url("../img/bg_second.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .second {
      &__wrapper {
        display: flex;
        gap: mixins.torem(48);

        > div {
          flex: 1;
        }
      }

      &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: mixins.torem(24);
        padding: variables.$xl3;
        border-radius: 30px;
        background: variables.$white;
        box-shadow: 0px 20px 30px 0px rgba(66, 72, 84, 0.2);

        &__item {
          display: flex;
          align-items: center;
          gap: variables.$md;

          &__icon {
            img {
              width: mixins.torem(52);
              height: mixins.torem(52);
            }
          }

          &__content {
            flex: 1;
            font-size: variables.$sm;
            font-weight: variables.$medium;

            h3 {
              font-size: variables.$xl2;
              font-weight: variables.$medium;
            }

            strong {
              font-weight: variables.$extraBold;
            }
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: variables.$xl3;
        font-size: variables.$sm;
        line-height: 1.5;

        strong {
          font-weight: variables.$bold;
        }
      }
    }

    @include mixins.sm-breakpoint {
      background: none;

      .second {
        &__wrapper {
          flex-direction: column;
          gap: variables.$xl3;
        }

        &__left {
          padding: variables.$xl variables.$md;

          &__item {
            &__icon {
              img {
                width: mixins.torem(42);
                height: mixins.torem(42);
              }
            }

            &__content {
              font-size: variables.$md;

              h3 {
                font-size: variables.$xl;
              }
            }
          }
        }

        &__right {
          gap: variables.$md;
          font-size: variables.$md;
        }
      }
    }
  }

  &.third {
    padding: mixins.torem(48) 0;
    background-image: url("../img/bg_3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0 variables.$md;
      background: none;
    }
  }

  &.fifth {
    background-image: url("../img/bg_second.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    > .container {
      > img {
        margin: 0 auto variables.$md;
      }
    }

    .schema__wrapper:after {
      display: none;
    }

    @include mixins.sm-breakpoint {
      background: none;
    }
  }

  &.list {
    padding-top: 0;

    h5 {
      margin-bottom: variables.$md;
      font-size: variables.$xs;
      font-weight: variables.$medium;
    }

    ol,
    li {
      list-style-type: decimal;
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-left: mixins.torem(20);
    }

    li {
      font-size: variables.$xs;
      line-height: 1.4;

      a {
        text-decoration: underline;
        font-size: variables.$xs;
        word-break: break-word;
      }
    }
  }

  &.error {
    padding: mixins.torem(64) 0;

    h2 {
      margin-bottom: variables.$md;
      font-size: variables.$xl2;
      font-weight: variables.$extraBold;
      line-height: 1.3;
      color: variables.$red;
    }

    .container {
      > p {
        font-weight: variables.$medium;
        line-height: 1.5;
      }
    }

    .error {
      &__buttons {
        display: flex;
        gap: variables.$md;
        flex-wrap: wrap;
        margin-top: variables.$xl3;
      }
    }

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0;

      h2 {
        font-size: variables.$xl;
      }
    }
  }

  &.login {
    > .container {
      display: flex;
      flex-direction: column;
      gap: variables.$md;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: variables.$xl;
    width: 50%;

    &-item {
      input {
        width: 100%;
        padding: mixins.torem(10) variables.$xl3;
        border: 1px solid variables.$red;
        border-radius: 32px;
        font-size: variables.$md;
        font-weight: variables.$medium;
        line-height: 1;

        &::placeholder {
          color: rgba(58, 58, 64, 0.32);
        }

        &:disabled {
          background: transparent;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: variables.$xs variables.$xl3;

      a {
        font-weight: variables.$medium;
        color: variables.$red;
        text-decoration: underline;
      }
    }

    &--registration {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: variables.$md 0;

      h3 {
        width: 100%;
        font-size: variables.$xl;
      }

      > p {
        width: 100%;
        font-weight: variables.$medium;
      }

      .form-item {
        width: calc(50% - variables.$xs);
      }

      .form {
        &__checkboxes {
          display: flex;
          flex-direction: column;
          gap: variables.$md;
          width: 100%;
          padding: mixins.torem(64) variables.$xl3;
          border-radius: 30px;
          background: variables.$white;
          box-shadow: 0px 20px 30px 0px rgba(66, 72, 84, 0.2);

          > p {
            font-weight: variables.$medium;

            a {
              text-decoration: underline;
            }
          }
        }

        &__buttons {
          margin-top: mixins.torem(8);
        }
      }

      .btn--save {
        display: none;
      }

      @include mixins.sm-breakpoint {
        .form-item {
          width: 100%;
        }

        .form {
          &__checkboxes {
            padding: variables.$xl3 variables.$xl;
            border-radius: 24px;
          }
        }
      }
    }

    @include mixins.sm-breakpoint {
      width: 100%;
    }
  }

  &.registration {
    background-image: url("../img/bg_first.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      margin: 0;
    }

    @include mixins.sm-breakpoint {
      background: none;
    }
  }

  &.profile {
    background-image: url("../img/bg_3.png");

    @include mixins.sm-breakpoint {
      background: none;
    }
  }

  &.history {
    padding: mixins.torem(64) 0;
    border-radius: 60px;
    background: variables.$gradient;

    .history {
      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: variables.$xl3;
      }

      &__title {
        font-size: variables.$xl;
        font-weight: variables.$bold;
        line-height: 1;
      }

      &__item {
        display: flex;
        align-items: center;
        gap: variables.$md variables.$xl3;
        min-height: mixins.torem(56);

        &__type {
          min-width: mixins.torem(94);
          font-size: variables.$sm;
          font-weight: variables.$bold;
          line-height: 1.28;
        }

        &__text {
          position: relative;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: mixins.torem(8);
          font-size: variables.$xs;
          line-height: 1.66;

          h3 {
            font-size: variables.$md;
            font-weight: variables.$medium;
            line-height: 1.5;
          }

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -16px;
            width: 2px;
            height: 100%;
            background: variables.$mainColor;
          }
        }

        &__button {
          margin-left: auto;

          .btn {
            min-width: mixins.torem(183);
            background: variables.$white;
            color: variables.$mainColor;

            &:hover {
              background: variables.$red;
              color: variables.$white;

              svg {
                path {
                  fill: variables.$white;
                }
              }
            }
          }
        }
      }
    }

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0;
      border-radius: 40px;

      .history {
        &__wrapper {
          display: flex;
          flex-direction: column;
          gap: variables.$xl3;
        }

        &__title {
          font-size: variables.$xl;
          font-weight: variables.$bold;
          line-height: 1;
        }

        &__item {
          flex-direction: column;
          align-items: flex-start;
          gap: variables.$md variables.$xl;

          &__type {
            position: relative;
            display: inline-block;
            min-width: unset;
            padding-bottom: variables.$md;

            &:after {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background: variables.$mainColor;
            }
          }

          &__text {
            &:before {
              display: none;
            }
          }

          &__button {
            margin-left: 0;
          }
        }
      }
    }
  }

  &.podcast {
    padding: mixins.torem(64) 0;
    background-image: url("../img/bg_first.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0;
      background: none;
    }
  }

  &.video {
    padding: mixins.torem(64) 0;

    > .container {
      display: flex;
      flex-direction: column;
      gap: variables.$xl3;

      h2 {
        font-size: variables.$xl;
        line-height: 1.3;
      }

      iframe,
      video {
        width: 100%;
        height: auto;
        border-radius: 32px;
        overflow: hidden;
        aspect-ratio: 5 / 3;
      }
    }

    @include mixins.sm-breakpoint {
      padding: variables.$xl3 0;

      > .container {
        gap: variables.$xl;
      }
    }
  }
}

.schema {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: variables.$md;
    padding: mixins.torem(55) 0;

    > p {
      color: variables.$black;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    > .btn {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 140px);
      height: calc(100% + 180px);
      background-image: url("../img/cards.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: variables.$md;
    margin-bottom: variables.$md;
    font-weight: variables.$medium;

    h2 {
      font-size: variables.$xl2;
      font-weight: variables.$extraBold;
      line-height: 1.3;
      color: variables.$red;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  @include mixins.sm-breakpoint {
    &__wrapper {
      padding: 0;

      &:after {
        display: none;
      }

      > .btn {
        display: flex;

        div {
          height: variables.$xl3;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: variables.$white;
        }

        img {
          flex: 1;
        }
      }
    }

    &__title {
      gap: variables.$xl;

      h2 {
        font-size: variables.$xl;
      }
    }

    &__image {
      max-width: calc(100vw - 32px);
      margin-top: variables.$xl;
      overflow-x: scroll;

      img {
        min-width: 800px;
        max-width: unset;
      }
    }
  }

  @media screen and (max-width: 520px) {
    &__title {
      position: relative;
      padding: variables.$xl3 variables.$xl2;

      > * {
        position: relative;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
        background-image: url("../img/cards_mobile.png");
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.fourth {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: variables.$xl3;

    > div {
      flex: 1;
    }

    @include mixins.sm-breakpoint {
      flex-direction: column;
      gap: variables.$md;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: variables.$md;
  }
}

.sixth {
  h2 {
    font-size: variables.$xl2;
    font-weight: variables.$extraBold;
    line-height: 1.3;
    color: variables.$red;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: variables.$md;

    > p {
      font-weight: variables.$medium;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: mixins.torem(25);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: variables.$xs;
    line-height: 1.5;
    text-align: center;

    h4 {
      font-size: variables.$md;
      font-weight: variables.$bold;
    }
  }

  @include mixins.sm-breakpoint {
    h2 {
      font-size: variables.$xl;
      line-height: 1.25;
    }

    &__items {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    &__item {
      flex-direction: row;
      align-items: center;
      gap: variables.$xs;
      text-align: left;
    }
  }
}

.video {
  &__author {
    display: flex;
    align-items: center;
    gap: variables.$xl3;

    &__image {
      width: mixins.torem(118);
      height: mixins.torem(118);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__name {
      display: flex;
      flex-direction: column;
      gap: variables.$xs;
      font-weight: variables.$medium;

      h4 {
        font-size: variables.$xl;
        font-weight: variables.$bold;
        line-height: 1;
        color: variables.$red;
      }
    }
  }

  &__description {
    padding: mixins.torem(64) variables.$xl3;
    border-radius: 30px;
    background: variables.$white;
    box-shadow: 0px 20px 30px 0px rgba(66, 72, 84, 0.2);
    font-weight: variables.$medium;

    h5 {
      margin: 0;
      font-size: variables.$md;
      font-weight: variables.$bold;
    }

    p {
      + h5 {
        margin-top: variables.$xl;
      }
    }

    ul {
      margin: 0;
      padding-left: variables.$xl;
      list-style-type: disc;

      li {
        list-style-type: inherit;
      }
    }
  }

  &__quizz {
    display: flex;
    flex-direction: column;
    gap: variables.$md;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: variables.$md;
      padding: mixins.torem(64);
      padding-bottom: mixins.torem(200);
      border-radius: 32px;
      background: variables.$gradient;

      h3 {
        font-size: variables.$xl;
        line-height: 1.2;
      }

      + .btn {
        align-self: center;
      }
    }

    &__checkboxes {
      display: flex;
      flex-direction: column;
      gap: variables.$xl3;
      margin-top: auto;
      padding-top: mixins.torem(115);

      .form__checkbox {
        font-size: variables.$lg;
        font-weight: variables.$medium;
      }
    }
  }

  @include mixins.sm-breakpoint {
    &__author {
      gap: variables.$xl;

      &__image {
        width: mixins.torem(64);
        height: mixins.torem(64);
      }
    }

    &__description {
      padding: variables.$xl3 variables.$md;
      border-radius: 24px;
    }

    &__quizz {
      &__wrapper {
        padding: variables.$xl3;
        padding-bottom: mixins.torem(100);
        border-radius: 24px;

        h3 {
          font-size: variables.$lg;
        }
      }

      &__checkboxes {
        gap: variables.$xl;
        padding-top: mixins.torem(64);

        .form__checkbox {
          font-size: variables.$md;
        }
      }
    }
  }
}

.article {
  h1 {
    display: flex;
    flex-direction: column;
    margin-bottom: mixins.torem(24);
    font-family: "Caveat-Bold", cursive;
    font-size: mixins.torem(90);
    line-height: 0.9;

    span {
      font-family: "Caveat-Regular", cursive;
      font-size: mixins.torem(64);
      line-height: 1;
    }
  }

  h2 {
    margin-bottom: mixins.torem(24);
    font-size: variables.$xl2;
    font-weight: variables.$extraBold;
    line-height: 1.3;
  }

  h3 {
    margin-bottom: mixins.torem(16);
    font-size: variables.$xl;
    font-weight: variables.$bold;
    line-height: 1;
  }

  h4,
  h5 {
    margin-bottom: mixins.torem(10);
  }

  ul {
    margin: 0;
    padding-left: variables.$xl;
    list-style-type: disc;

    li {
      list-style-type: inherit;

      a {
        text-decoration: underline;
        font-size: variables.$xs;
        word-break: break-word;
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: mixins.torem(20);
    list-style-type: decimal;

    li {
      font-size: variables.$xs;
      line-height: 1.4;
      list-style-type: decimal;

      a {
        text-decoration: underline;
        font-size: variables.$xs;
        word-break: break-word;
      }
    }
  }

  p {
    &:not(:last-child),
    &:not(:last-of-type) {
      margin-bottom: mixins.torem(10);
    }
  }

  @include mixins.sm-breakpoint {
    h1 {
      font-size: mixins.torem(75);

      span {
        font-size: mixins.torem(54);
      }
    }
  }
}
