@use "./settings/_variables" as variables;
@use "./settings/_mixins" as mixins;

.footer {
  padding: mixins.torem(64) 0;
  border-radius: 64px 64px 0px 0px;
  background: variables.$red;
  font-size: variables.$xs;
  font-weight: 300;
  color: variables.$white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: mixins.torem(210);
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: variables.$md;

    p {
      width: max-content;
      margin-top: auto;
    }
  }

  &__right {
    display: flex;
    gap: mixins.torem(64);
    margin-left: auto;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: variables.$md;

    li {
      width: max-content;
      font-weight: variables.$regular;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: variables.$xl;

    > p {
      &:nth-child(2) {
        margin-top: auto;
      }
    }
  }

  @include mixins.sm-breakpoint {
    padding: variables.$xl3 0;
    border-radius: 32px 32px 0 0;

    &__wrapper {
      flex-direction: column;
      gap: variables.$xl3;
    }

    &__logo {
      flex-direction: column;
      align-items: flex-start;
      gap: variables.$md;

      img {
        width: auto;
        height: 28px;
      }
    }

    &__right {
      flex-direction: column;
      gap: variables.$xl3;
    }

    &__menu {
      gap: mixins.torem(28);

      li {
        font-size: variables.$lg;

        a {
          text-decoration: underline;
        }
      }
    }

    &__text {
      gap: variables.$md;

      p {
        &:first-child {
          margin-bottom: variables.$md;
          font-size: variables.$md;
        }
      }
    }
  }
}
