@use "./settings/_variables" as variables;
@use "./settings/_mixins" as mixins;

.header {
  position: absolute;
  top: mixins.torem(32);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: variables.$xl2;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: variables.$xl;
      padding: mixins.torem(14) mixins.torem(30);
      border-radius: 32px;
      background: variables.$gradient_2;

      li {
        font-size: variables.$sm;
        letter-spacing: 0.28px;

        a {
          font-size: inherit;
          color: inherit;
        }

        &.active {
          font-weight: variables.$bold;
        }
      }
    }
  }

  &__btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: variables.$xs;
    font-size: variables.$sm;
    font-weight: variables.$bold;
    cursor: pointer;
  }
}
