.hero {
  position: relative;
  padding: torem(149) 0 torem(148);
  background: radial-gradient(
      101.79% 48.18% at 52.92% 94.32%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #4358c0;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: image-set(
      url("../images/home/hero.webp") 1x,
      url("../images/home/hero-2x.webp") 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 65% bottom;
  }

  h1 {
    position: relative;
    width: 55%;
    margin: 0;
    font-size: torem(45);
    line-height: 1.2;
    color: $white;
    text-transform: uppercase;
    z-index: 5;
  }

  @include sm-breakpoint {
    padding: torem(60) 0 torem(80);

    h1 {
      width: 100%;
      font-size: torem(36);
    }

    &:after {
      height: 50%;
      background-position: right bottom;
    }
  }
}
