@use "./settings/_variables" as variables;
@use "./settings/_mixins" as mixins;

.hero {
  position: relative;
  padding: mixins.torem(138) 0 mixins.torem(38);
  border-radius: 0px 0px 60px 60px;
  background: linear-gradient(
    0deg,
    #ffb3a0 9.23%,
    #ffa79e 26.34%,
    #ff9cb3 41.61%,
    #ffa0cd 50.85%,
    #fd9ed9 60.95%,
    #d099e6 78.33%,
    #909dff 100.75%,
    #8799ff 102.78%
  );
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: variables.$xl;
    width: 50%;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-family: "Caveat-Bold", cursive;
    font-size: mixins.torem(90);
    line-height: 0.9;

    span {
      font-family: "Caveat-Regular", cursive;
      font-size: mixins.torem(64);
      line-height: 1;
    }
  }

  &__subtitle {
    font-size: variables.$xl;
    font-weight: variables.$bold;
    line-height: 1.3;
  }

  &__posttitle {
    font-size: variables.$lg;
    font-weight: variables.$regular;
    line-height: 1.3;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }

  @include mixins.sm-breakpoint {
    padding: variables.$xl3 0;
    border-radius: 0px 0px 32px 32px;

    &__wrapper {
      gap: variables.$xl3;
      width: 100%;
    }

    h1 {
      font-size: mixins.torem(75);

      span {
        font-size: mixins.torem(54);
      }
    }

    &:after {
      display: none;
    }
  }
}
