.podozreniya {
  .hero {
    padding: torem(128) 0 torem(116);
    background: radial-gradient(
        101.79% 48.18% at 52.92% 94.32%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #db790f;

    &:after {
      background-image: image-set(
        url("../images/podozreniya/hero.webp") 1x,
        url("../images/podozreniya/hero-2x.webp") 2x
      );

      background-position: 66% bottom;
    }
  }

  .preview {
    strong {
      font-family: "Open-sans bold";
      color: $secondaryColor;
    }

    .wrapper {
      > p {
        flex: 0 1 60%;
      }
    }
  }

  .knowledge {
    padding: torem(80) 0 torem(72);
    background: radial-gradient(
        101.79% 48.18% at 52.92% 94.32%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #db790f;

    h2 {
      color: $secondaryColor;
    }

    .wrapper {
      gap: torem(85);
    }

    .items {
      display: flex;
      justify-content: space-between;
      gap: torem(70);

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: torem(35);
        font-size: torem(20);
        line-height: 1.26;
        color: $white;
        text-align: center;

        h3 {
          font-family: "Open-sans bold";
          font-size: torem(22);
        }

        &__title {
          display: flex;
          flex-direction: column;
          gap: torem(8);
        }
      }
    }

    .subtitle {
      width: 55ch;
      font-family: "Open-sans bold";
      font-size: torem(24);
      line-height: 1.41;
      color: $white;
      text-align: center;
    }

    @include sm-breakpoint {
      padding: torem(36) 0;

      .wrapper {
        gap: torem(50);
      }

      .items {
        flex-direction: column;
        gap: torem(46);

        .item {
          gap: torem(20);
          font-size: $md;

          h3 {
            font-size: torem(18);
          }

          &__title {
            display: flex;
            flex-direction: column;
            gap: torem(8);
          }
        }
      }

      .subtitle {
        width: 100%;
        font-size: $lg;
      }
    }
  }
}

.zabolevaniya {
  font-family: "OpenSans-CondensedRegular", sans-serif;
  color: #000;

  strong {
    font-family: "OpenSans-CondensedBold", sans-serif;
  }

  .header {
    padding: torem(26) 0 torem(27);
  }

  .hero {
    padding: torem(121) 0 torem(122);
    background: radial-gradient(
        101.79% 48.18% at 52.92% 94.32%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #e1e5e4;

    &:after {
      background-image: image-set(
        url("../images/zabolevaniya/hero.webp") 1x,
        url("../images/zabolevaniya/hero-2x.webp") 2x
      );

      background-position: 70% bottom;
      z-index: 10;
    }

    h1 {
      color: $black;
      letter-spacing: 0.1px;
    }

    @include md-breakpoint {
      &:after {
        background-position: 90% bottom;
      }
    }

    @include sm-breakpoint {
      padding: torem(10) 0 torem(80);

      &:after {
        background-position: 80% bottom;
      }

      h1 {
        max-width: 80%;
        font-size: torem(26);
      }
    }
  }

  .preview {
    padding-bottom: torem(55);

    .wrapper {
      h2 {
        color: $red;
        letter-spacing: 0.1px;
      }
    }

    &.new {
      padding-bottom: torem(20);

      .wrapper {
        color: #000;

        > p {
          flex: 0 1 61.5%;
        }
      }
    }
  }

  .tabs {
    margin-bottom: torem(10);

    .container > p {
      margin-bottom: torem(26);

      span {
        font-family: "OpenSans-CondensedBold", sans-serif;
      }

      &.thin {
        font-family: "OpenSans-CondensedLight", sans-serif;
      }
    }

    button {
      font-family: "Finlandica BOLD", sans-serif;
    }

    > div [role="tabpanel"] {
      @media screen and (min-width: 767.98px) {
        padding-left: torem(28);
        transform: translateY(-24px);

        ul {
          gap: torem(10);
          padding-left: torem(28);

          li::marker {
            font-size: torem(29);
          }
        }
      }
    }

    &--space {
      .container {
        p {
          line-height: 1.7;
          margin-bottom: 44px;

          &.thin {
            margin-bottom: torem(50);
          }
        }
      }
    }
  }

  .section {
    &.tg {
      .wrapper {
        background-position: 92% bottom;
      }

      .container {
        @media screen and (min-width: 767.98px) {
          padding: 0 torem(38);
        }
      }
    }
  }

  .title-description {
    padding-top: torem(20);

    .wrapper {
      color: #000;

      > p {
        color: #000;

        @media screen and (min-width: 767.98px) {
          width: 85%;
        }
      }

      h2 {
        letter-spacing: 0.1px;
      }

      .block__content {
        justify-content: space-between;

        @media screen and (min-width: 767.98px) {
          ul {
            padding-left: torem(30);
          }
        }

        .item {
          &:last-child {
            flex: 0 1 22%;
          }
        }

        &--images {
          .item {
            &:last-child {
              flex: 0 1 60%;
            }
          }
        }
      }
    }
  }

  .section.info {
    @media screen and (min-width: 767.98px) {
      padding-top: torem(46);
      padding-bottom: torem(10);
    }

    .wrapper {
      gap: torem(13) torem(50);
    }

    .info__content {
      @media screen and (min-width: 767.98px) {
        padding-left: torem(20);
      }

      &__image {
        @media screen and (min-width: 767.98px) {
          flex: 0 1 27.5%;
        }
      }

      &__text {
        h4 {
          font-family: "OpenSans-CondensedBold", sans-serif;
          letter-spacing: 0.1px;
        }

        @media screen and (min-width: 767.98px) {
          ul {
            gap: torem(19);
            padding-left: torem(30);
          }
        }

        > p {
          &:last-of-type {
            margin-top: torem(10);
          }
        }
      }
    }
  }

  .section.knowledge {
    p {
      font-family: "OpenSans-CondensedRegular", sans-serif;
      @media screen and (min-width: 767.98px) {
        font-size: torem(26);
      }
    }
  }

  .button {
    font-family: "OpenSans-CondensedBold", sans-serif;
  }

  &.article {
    .section.article-list {
      ul li {
        font-family: "OpenSans-CondensedRegular", sans-serif;
      }
    }
  }

  .article--block-arrows .wrapper .item {
    font-family: "OpenSans-CondensedRegular", sans-serif;
  }

  .article--text-bold-image .wrapper p {
    font-family: "OpenSans-CondensedRegular", sans-serif;
  }

  .article--bg-blue {
    font-family: "OpenSans-CondensedRegular", sans-serif;
  }
}

.home {
  .main {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;

    &__items {
      display: flex;

      .item {
        position: relative;
        flex: 1;
        display: flex;
        gap: torem(50);
        padding: torem(34) torem(28) torem(34) torem(23);
        transition: all 0.35s ease;

        h2 {
          position: relative;
          margin: 0;
          padding-top: torem(22);
          font-size: torem(25);
          line-height: 1.14;
          color: $white;
          text-transform: uppercase;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 22%;
            height: 2.5px;
            background-color: $white;
            transition: all 0.35s ease;
          }
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 70%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center bottom;
          transition: all 0.35s ease;
        }

        &:first-child {
          background: radial-gradient(
              50.78% 56.81% at 48.75% 81.4%,
              rgba(255, 255, 255, 0.3) 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            #4358c0;

          &:after {
            background-image: url("../images/main/home-1.webp");
          }
        }

        &:nth-child(2) {
          background: radial-gradient(
              50.78% 56.81% at 48.75% 81.4%,
              rgba(255, 255, 255, 0.3) 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            #db790f;

          &:after {
            background-image: url("../images/main/home-2.webp");
          }
        }

        &:last-child {
          background: radial-gradient(
              70.4% 74.64% at 48.75% 81.4%,
              #fff 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            #e1e5e4;

          &:after {
            background-image: url("../images/main/home-3.webp");
          }

          h2 {
            color: $black;

            &:before {
              background-color: $mainColor;
            }
          }

          .item__text {
            color: $black;

            ul {
              li {
                &::marker {
                  color: $black;
                }

                a {
                  color: $black;
                }
              }
            }
          }
        }

        &__text {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          gap: torem(35);
          font-size: $sm;
          line-height: 1.37;
          color: $white;
          z-index: 5;

          ul {
            display: flex;
            flex-direction: column;
            gap: torem(20);
            padding-left: torem(22);
            list-style-type: disc;

            li {
              font-size: $sm;
              line-height: 1.25;
              list-style-type: initial;

              &::marker {
                font-size: torem(16);
                color: $white;
              }

              a {
                color: $white;
              }
            }
          }

          .button {
            padding: torem(13) torem(23);
            font-size: torem(13);
          }
        }

        &:hover {
          flex-grow: 2;

          &:after {
            background-position: left bottom;
          }

          .item__text {
            display: flex;
          }

          h2 {
            &:before {
              width: 100%;
            }
          }
        }

        @include sm-breakpoint {
          flex-direction: column;

          &:after {
            background-position: right bottom;
          }

          &:first-child {
            &:after {
              background-image: url("../images/main/home-1-mobile.webp");
            }
          }

          &:nth-child(2) {
            &:after {
              background-image: url("../images/main/home-2-mobile.webp");
            }
          }

          &:last-child {
            &:after {
              background-image: url("../images/main/home-3-mobile.webp");
            }
          }

          &.active {
            flex-grow: 2;

            &:after {
              height: 45%;
              background-position: right bottom;
            }

            .item__text {
              display: flex;
            }

            h2 {
              &:before {
                width: 100%;
              }
            }
          }

          h2,
          &__text {
            width: 75%;
          }
        }
      }

      @include sm-breakpoint {
        flex-direction: column;
      }
    }

    &__bottom {
      padding: torem(40) clamp(torem(41), 5vw, torem(100)) torem(33);
      background: $white;
      font-family: "Open-sans regular";

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: torem(14);
      }

      h1 {
        font-size: clamp(torem(31), 5vw, torem(34));
        text-transform: uppercase;
        line-height: 1.14;
        color: $mainColor;
        text-align: center;
      }

      p {
        margin-top: torem(16);
      }

      @include sm-breakpoint {
        flex-direction: column;
        gap: torem(20);
        padding: torem(38) torem(41) torem(43);
      }
    }
  }
}

.article {
  &.zabolevaniya-1 {
    .section {
      &.top {
        h1 {
          font-size: torem(39);
        }

        + .article-text {
          margin-top: torem(47);

          p {
            letter-spacing: 0.8px;
          }
        }
      }

      &.article-title--blue {
        margin-top: torem(50);
      }

      &.article-list {
        .text {
          font-family: "OpenSans-CondensedRegular", sans-serif;
        }
      }

      &.article--bg-blue {
        padding: torem(36) 0 torem(0);
        font-family: "OpenSans-CondensedRegular", sans-serif;
        font-size: $lg;

        .container {
          .title {
            margin-bottom: torem(15);
          }

          p {
            letter-spacing: 0;
            line-height: 1.4;
          }
        }

        ul {
          li {
            @media screen and (min-width: 767.98px) {
              font-size: $lg;
            }
          }
        }
      }

      &.article-list {
        font-family: "OpenSans-CondensedRegular", sans-serif;
        font-size: $md;

        @media screen and (min-width: 767.98px) {
          ul {
            padding-left: torem(20);
          }
        }
      }

      &.article--blue-bold-text .container {
        p,
        li {
          font-family: "OpenSans-CondensedBold", sans-serif;
        }
      }
    }
  }
}
